/* col {
    background-image: url(../src/assets/images/traveller.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
   */
   .hero-title{
    font-size: 4rem;
}
